{% extends 'base.html'%}
{% block title %} {{ post.title }} {% endblock %}


{% block content %}
    <small>
      The <strong>{{ post.category}}</strong> category
    </small>
    <h1>{{ post.title}}</h1>
    <small>Created:
      <em>{{ post.post_date}}</em>
    </small><br/>
    <small>
      By: <em>{{post.author.first_name}} {{post.author.last_name}}</em>
  </small><br>
  <small>About: <em>{{ post.snippet }}</em></small>

<br><br>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <p>
            <small><a href="{% url 'edit_blog' post.pk%}" class="btn btn-primary btn-sm">Edit Blog</a></small>
            <small><a href="{% url 'delete_blog' post.pk%}" class="btn btn-danger btn-sm">Delete Blog</a></small>
        {% endif %}
    {% endif %}

    </p>
    <hr/> <br/>
    {% if post.header_image%}
      <img src="{{ post.header_image.url }}">
      {% endif%}
    {{ post.body|safe }}

    <form action="{% url 'like_post' post.pk %}" method="post" >
      {% csrf_token%}

      {% if user.is_authenticated %}
        {% if liked %}
          <br><br>
          <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btn-sm">Unlike</button>
           {{ total_likes }} Likes
        {% else %}
          <br><br>
          <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary btn-sm">Like</button>
           {{ total_likes }} Likes
          {% endif %}
      {% else %}
          <br><br>
      {{ total_likes }} Likes
    </form>
    {% endif %}

    <hr>
    <br>
    <a href="{% url 'blog_list'%}" class="btn btn-secondary">Back</a>

{% endblock %}
