{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Blogs {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <h1>Blog Post</h1><br>
        <div class="a_blog">
            {% for post in object_list %}
            <br>
            <small class="category"><a href="{% url 'category' post.category %}"><strong>{{ post.category}}</strong></a></small>
            <p></p>
            <ul class="list">
                <li><strong class="blog_title"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></strong>
                  <p class="author">{{ post.author.first_name }} {{post.author.last_name }}</p></li>
                  <p class="about_blog">{{post.snippet}}</p>
                  <br>
                  <small class="time_created" >Created: <em>{{ post.post_date}}</em></small>
            </ul>
            <hr>
        {% endfor %}
      </div>
    {% endblock %}
  </body>
</html>
