{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Blog Categories {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <br>
    <h1>Blog Categories</h1>
    <br>
    <ul class="list">
    {% for category in object_list %}
        <li>
            <h4>The <a href="{% url 'category' category.name %}">{{ category.name }}</a> category</h4>
        </li>
    {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>
