{% extends 'base.html'%}
{% block title %} Blog Category {% endblock %}

{% block content %}
<br>
    <h1>Blog Categories</h1>
    </p>
    {% if blog_category%}

        <h2><em>{{ category }}</em></h2>
        <br />
        <ul>
        {% for post in blog_category %}
            <li><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a> -
              {% if post.author.userprofile %}
                <a href="{% url 'show_profile_page' post.author.userprofile.id %}">{{ post.author.first_name }} {{post.author.last_name }}</a><br/>
              {% else %}
                {{ post.author.first_name }} {{post.author.last_name }}<br>
              {% endif %}
            <small>Created: <em>{{ post.post_date}}</em></small>
            <p></p>

            <small>{{ post.snippet|safe }}</small>
            <hr />
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no blogs in this category</p>
    {% endif%}

{% endblock %}
