{% extends 'base.html'%}
{% block title %} Blog Category {% endblock %}

{% block content %}
<br>
    <h1>{{ category }} Blog Category</h1>
    </p>
    {% if blog_category %}
        <br />
        <ul class="list">
        {% for post in blog_category %}
            <li><strong class="blog_title"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></strong>
              {% if post.author.userprofile %}
                <a class="author" href="{% url 'show_profile_page' post.author.userprofile.id %}">{{ post.author.first_name }} {{post.author.last_name }}</a>
              {% else %}
                <p class="author" >{{ post.author.first_name }} {{post.author.last_name }}</p>
              {% endif %}
            <small class="about_blog">{{ post.snippet|safe }}</small>
            <p></p>
            <small class="time_created">Created: <em>{{ post.post_date}}</em></small>
            <hr />
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no blogs in this category</p>
    {% endif%}

{% endblock %}
