{% extends 'base.html'%}
{% load static %}
{% block title %} Blog Category {% endblock %}

{% block content %}
<br>
{% if user.is_authenticated %}
    <h1 style="margin-left: 25px;">{{ category }} Blog Category</h1>
    </p>
    {% if blog_category %}
        <br>
      <div class="row mb-2" style="margin-left: 20px; margin-right: 20px;"> 
        {% for post in blog_category %}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
              <div class="mb-1 text-muted">{{ post.post_date}}</div>
              <p style="margin-top: 12px;" class="mb-auto">{{ post.snippet|safe }}</p>
              <span style="margin-top: 15px;">
                {% if post.author.userprofile.profile_pic %}
                <img style="width: 30px;" src="{{ post.author.userprofile.profile_pic.url }}"  alt="author profile image">
              {% else %}
                <img style="width: 30px;"src="{% static 'images/default_profile_img.png'%}"  alt="author profile image">
              {% endif %}

              {% if user.is_authenticated %}
              {% if post.author.userprofile %}
                <a class="author" href="{% url 'show_profile_page' post.author.userprofile.user %}">{{ post.author.first_name }} {{post.author.last_name }}</a></li>
              {% else %}
                 <span class="author">{{ post.author.first_name }} {{post.author.last_name }}<br></span>
              {% endif %}
              {% endif %}
              </span> 
            </div>
            {% if post.header_image %}
            <div class="col-md-4">
              <img class="rounded float-right" width="100%" style="height: 100%;" src="{{ post.header_image.url }}" alt="blog-header-image">                       
            </div>
            {% endif %}     
            </div>
        </div>
        {% endfor %}
      </div>
    {% else %}
        <p>There are no blogs in this category</p>
    {% endif%}

    {% else %}
    <h1 style="margin-left: 25px;">{{ category }} Blog Category</h1>
  </p>
  {% if blog_category %}
      <br>
    <div class="row mb-2" style="margin-left: 20px; margin-right: 20px;"> 
      {% for post in blog_category %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
            <div class="mb-1 text-muted">{{ post.post_date}}</div>
            <p style="margin-top: 12px;" class="mb-auto">{{ post.snippet|safe }}</p>
            <span style="margin-top: 15px;">
              {% if post.author.userprofile.profile_pic %}
              <img style="width: 30px;" src="{{ post.author.userprofile.profile_pic.url }}"  alt="author profile image">
            {% else %}
              <img style="width: 30px;"src="{% static 'images/default_profile_img.png'%}"  alt="author profile image">
            {% endif %}

            {% if post.author.userprofile %}
              <a class="author" href="{% url 'show_profile_page' post.author.userprofile.user %}">{{ post.author.first_name }} {{post.author.last_name }}</a></li>
            {% else %}
               <span class="author">{{ post.author.first_name }} {{post.author.last_name }}<br></span>
            {% endif %}
            </span> 
          </div>
          {% if post.header_image %}
          <div class="col-md-4">
            <img class="rounded float-right" width="100%" style="height: 100%;" src="{{ post.header_image.url }}" alt="blog-header-image">                       
          </div>
          {% endif %}     
          </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
      <p>There are no blogs in this category</p>
  {% endif%}
    {% endif %}
{% endblock %}
