{% extends 'base.html'%}
{% block title %} Edit {{ post.title }} {% endblock %}
{% block content %}
<br>
<h1>Edit Blog</h1>
<br/>

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
      <div class="form-group">
        <form  method="POST">
          {% csrf_token %}
          {{ form.media }}
          {{ form.as_p }}
          <a class="btn btn-danger" href="{% url 'blog_detail' post.pk%}">Cancel</a>
          <button class="btn btn-primary" type="submit">Update</button>
    {% else %}
      <p>You can't edit this blog post because you ain't the blog creator or owner</p>
    {% endif %}
{% else %}
  <p>You can't edit this blog post because you ain't the blog creator or owner</p>
{% endif %}
        </form>
      </div>
{% endblock %}
