* {
  margin: none;
  box-sizing: border-box;
}

h2{
  margin-left: 20px;
}

#login-form{
  width: 1000px;
  height: 45px;
  outline: none;
}

#login-label{
  font-size: 20px;
  padding-left: 10px;
  font-weight: 400;
}

#login-btn{
  margin-left: 10px;
}

#social-login-btn{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#google-btn{
  margin-left: 10px;
}

#github-btn{
  margin-left: 10px;
}

.fab{
  margin-right: 7px;
}
