* {
  margin: none;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.list{
  list-style: none;
  padding-left: 20px;
}

h1{
  padding-left: 20px;
  font-family: 'Montserrat';
  font-weight: bolder;
  line-height: 50px;
}

.category > a{
  margin-top: 20px;
  font-size: 20px;
  padding-left: 10px;
  color: #787672;
  text-decoration: none;
}

.blog_title > a{
  font-size: 25px;
  color: #212529;
}

.author{
  font-size: 18px;
}

.about_blog{
  font-size: 19px;
}

.time_created{
  font-size: 15px;
}


li h4{
  margin-bottom: 16px;
}

h4 a{
    font-size: 25px;
    color: #787672;
    text-decoration: none;
}

h4 a:hover{
    color: #787672;
}

* {
  margin: none;
  box-sizing: border-box;
}

h2{
  margin-left: 20px;
}

h5{
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 600;
}

form{
  margin-left: 35px;
}

#login-form{
  width: 1000px;
  height: 45px;
}

.form-control{
  width: 1000px;
  height: 45px;
}

#login-label{
  font-size: 20px;
  padding-left: 10px;
  font-weight: 400;
}

label{
  font-size: 20px;
  padding-left: 10px;
  font-weight: 400;
}

#login-btn{
  margin-left: 10px;
}

#social-login-btn{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#google-btn{
  margin-left: 10px;
}

#github-btn{
  margin-left: 10px;
}

.fab{
  margin-right: 7px;
}

.a-blog{
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}

.blogs{
  margin: 30px;
}

 .header-image{
   width: 400px;
   margin-left: 20px;
   display: inline-block;
 }

 .blog-info{
   margin-left: 20px;
   display: inline-block;
 }

 .edit-delete-blog{
   margin-top: 15px;
   margin-left: 20px;
 }


 #edit-icon{
   font-size: 30px;
   padding-right: 7px;
 }

 #delete-icon{
  font-size: 30px;
  padding-right: 7px;
  color: red;
}

.blog-body{
  padding: 30px;
  margin-top: 10px;
}

textarea#id_body.form-control{
  height: 150px;
}

.account-name{
  font-size: 45px;
  font-weight: 550;
  text-align: center;
}

.my-bio{
  font-size: 20px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}

div
#cke_id_body{
  width: 1000px !important;
}

div#cke_id_body
.cke_1.cke.cke_reset.cke_chrome.cke_editor_id_body.cke_ltr.cke_browser_webkit{
  width: 1000px !important;
}

div.cke_inner.cke_reset{
  width: 1000px !important;
}

span#cke_37,#cke_34{
  display: none;
}

a#cke_28.cke_button.cke_button__flash.cke_button_off,
a#cke_29.cke_button.cke_button__table.cke_button_off,
a#cke_25.cke_button.cke_button__anchor.cke_button_off{
  display: none;
}

.card.mb-3{
  width: 1000px;
}

.card-title{
  margin-top: 0;
}

#submit-btn{
  margin-left: 10px;
}

div.card.mb-3{
  margin-left: 30px;
}

.comment-list{
  list-style: none;
  border: 1px solid #ced4da;
  margin-top: 19px;
  padding: 10px;
  border-radius: 9px;
  width: 1000px;
}

.comment{
  margin-top: 15px;
}
