{% extends 'base.html'%}
{% block title %} Change Password {% endblock %}
{% block content%}
<br>
<h2>Change Password</h2>
<br/>
    <form action="{% url 'change_password' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
  </form>
  <br>
  <strong><h4>Note:</h4></strong>
  <ul>
    <li>Your password can’t be too similar to your other personal information.</li>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password can’t be a commonly used password.</li>
    <li>Your password can’t be entirely numeric.</li>
  </ul>
  <br/>
    <button type="submit">Update</button>
{% endblock %}
