{% extends 'base.html'%}
{% block title %} Log in {% endblock %}


{% block content%}
<h2>Login</h2>
<br/>
{% if form.errors %}
    <p>Your username and password did not match. Please try again. </p>
{% endif %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <br/>
      <a class="btn btn-secondary" href="{% url 'blog_list'%}">Blogs</a>
        <input class="btn btn-secondary"type="submit" value="Login">
  </form>

        <br><br />
    <h5 class="text-center">Yet to have an account? <a href="{% url 'register' %}">Sign in</a></h5>

{% endblock %}
