{% extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} User Profile {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <br>
    <h1>User Profile</h1>
    <br><br>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
    {% if page_user.profile_pic %}
        <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
    {% else %}
        <img src="{% static 'blog_app/images/default_profile_img.png' %}" class="img-fluid rounded-start" alt="...">
    {% endif %}
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">
               {{ page_user.user.first_name}} {{page_user.user.last_name}}
            </h5>
            <p class="small text-muted">

              {% if page_user.website_url %}
                <a href="{{ page_user.website_url}}">Website/Portfolio</a>
              {% endif %}
              {% if page_user.twitter_url %}
                | <a href="{{ page_user.twitter_url}}">Twitter</a>
              {% endif %}
              {% if page_user.github_url %}
                | <a href="{{ post.author.userprofile.github_url}}">GitHub</a>
              {% endif %}
              {% if page_user.linkedin_url %}
                | <a href="{{ post.author.userprofile.linkedin_url}}">Linkedin</a>
              {% endif %}
              {% if page_user.dribble_url %}
                | <a href="{{ page_user.dribble_url}}">Dribble</a>
              {% endif %}
              {% if page_user.figma_url %}
                | <a href="{{ page_user.figma_url}}">Figma</a>
              {% endif %}
              {% if page_user.codepen_url %}
                | <a href="{{ page_user.codepen_url}}">Codepen</a>
              {% endif %}
              {% if page_user.facebook_url %}
                | <a href="{{ page_user.facebook_url}}">Facebook</a>
              {% endif %}
              {% if page_user.instagram_url %}
                | <a href="{{ page_user.instagram_url}}">Instagram</a>
              {% endif %}
            </p>
            <p class="card-text">
              {{ page_user.bio}}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
