{% extends 'base.html'%}
{% block title %} Edit Profile {% endblock %}
{% block content %}
<br>
<h1>Edit Profile</h1>
<br/>
{% if user.is_authenticated %}
  {% if user.id == userprofile.user.id %}
    <div class="form-group">
      <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br><br>
        <button style="margin-bottom: 20px;" class="btn btn-secondary" type="submit">Update Profile</button>
      </form>
    </div>
  {% else %}
    You are not the right user to edit this page
  {% endif %}
{% else %}
  You are not permitted to reach this page
{% endif %}
{% endblock %}
