{% extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} User Profile {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <br>
      {% for user in page_user%}
      {% if user.profile_pic %}
        <img class="rounded mx-auto d-block" width="170px" src="{{ user.profile_pic.url }}"  alt="...">
    {% else %}
        <img class="rounded mx-auto d-block" src="{% static '\images\default_profile_img.png' %}" alt="...">
    {% endif %}
    
    <p class="account-name">{{ user.user.first_name}} {{ user.user.last_name}}</p>

    <p class="my-bio">{{ user.bio}}</p>

    <div class="col-md-4" style="text-align:center; margin-left: auto; margin-right: auto; margin-bottom: 30px;">
      <div style="margin-top: 15px; margin-bottom: 15px;">
                {% if user.website_url %}
              <a href="{{ user.website_url}}"><i style="font-size: 24px; margin-right: 4px;" class="fas fa-globe"></i></a>
                {% endif %}
              {% if user.twitter_url %}
              <a href="{{ user.twitter_url}}"><i style="font-size: 24px; margin-right: 4px;" class="fab fa-twitter"></i></a>
                {% endif %}
              {% if user.github_url %}
              <a href="{{ user.github_url}}"><i style="font-size: 24px; margin-right: 4px;" class="fab fa-github"></i></a>
              {% endif %}
              {% if user.linkedin_url %}
              <a href="{{ user.linkedin_url}}"><i style="font-size: 26px; margin-right: 4px;" class="fab fa-linkedin"></i></a>
              {% endif %}
              {% if user.dribble_url %}
              <a href="{{ user.dribble_url}}"><i style="font-size: 24px; margin-right: 4px;" class="fab fa-dribbble-square"></i></a>
              {% endif %}
              {% if user.figma_url %}
              <a href="{{ user.figma_url}}"><i style="font-size: 24px; margin-right: 4px;" class="fab fa-figma"></i></a>
              {% endif %}
              {% if user.codepen_url %}
              <a href="{{ user.codepen_url}}"><i style="font-size: 24px; margin-right: 4px;" class="fab fa-codepen"></i></a>
              {% endif %}
              {% if user.facebook_url %}
              <a href="{{ user.facebook_url}}"><i style="font-size: 24px; margin-right: 4px;" class="fab fa-facebook"></i></a>
              {% endif %}
              {% if user.instagram_url %}
              <a href="{{ user.instagram_url}}"><i style="font-size: 24px; margin-right: 4px;" class="fab fa-instagram"></i></a>
              {% endif %}
              </div>
    </div>
    

        <p style="text-align: center; font-size: 25px;">My Blogs</p>
        <div class="row mb-2" style="margin-left: 20px; margin-right: 20px;"> 
          {% for post in user_posts %}
                    <div class="col-md-6">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                          <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success"><a href="{% url 'category' post.category %}">{{ post.category}}</a></strong>
                            <h3 class="mb-0"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
                            <div class="mb-1 text-muted">{{ post.post_date}}</div>
                            <p style="margin-top: 12px;" class="mb-auto">{{post.snippet}}</p>  
                    </div>
                    {% if post.header_image %}
                      <img class="rounded float-right" style="width: 200px;" src="{{ post.header_image.url }}" alt="blog-header-image">                       
                    {% endif %} 
                      </div>
                  </div>
        {% endfor %}
      </div>
    {% endfor %}
    {% endblock %}
  </body>
</html>
