{% extends 'base.html'%}
{% block title %} Reset Password {% endblock %}
{% block content%}
<br>
<h2 style="margin-left: 40px;">Password Reset</h2>
<br>
<p style="font-size: 22px; margin-left: 55px; padding-right: 50px;">Forgotten your password?<br>Put in your email address below and ChryzHub would send a mail, instructing you on getting a new password
</p>
<br/>
    <form method="post">
      <div class="mb-3">
        {% csrf_token %}
        <label id="login-label" for="id_email" class="form-label">Email:</label>
        <input id="login-form" type="text" class="form-control" name="email" id="email" placeholder="Email">
        <br>
        <button class="btn btn-primary" type="submit">Email</button>
      </div>
    </form>
{% endblock %}
