{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}
{% block content %}
{% if validlink %}
<br>
<h2 style="margin-left: 40px;">Set new password</h2>
<br>
<p style="font-size: 22px; margin-left: 55px; padding-right: 50px;">Please enter your new password</p>
<br/>
    <form method="post">
      <div class="mb-3">
        {% csrf_token %}
        <label id="login-label" for="id_new_password1">New password:</label>
        <input id="login-form" type="password" class="form-control" name="new_password1" autocomplete="new-password" required id="id_new_password1">
        <label id="login-label" for="id_new_password2">Confirm password:</label>
        <input id="login-form" type="password" class="form-control" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        <br>
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </form>>

{% else %}

<p style="font-size: 22px; margin-left: 55px; padding-right: 100px;">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'reset_password' %}">new password reset.</a></p>

{% endif %}
{% endblock %}